@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');



.nata {
  font-family: 'Nata Sans', sans-serif;
}





.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animat {
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes ripple-glow {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.9);
  }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1),
      0 0 40px rgba(255, 255, 255, 0.9),
      0 0 80px rgba(255, 255, 255, 0.8);
  }

  100% {
    box-shadow: 0 0 120px rgba(255, 255, 255, 0);
  }
}

.glow {
  animation: ripple-glow 2s infinite ease-in-out;
}





@import "tailwindcss";